{% extends "templates/web.html" %}
{% block page_content %}

<div class="py-12">
	<div
	class="d-flex align-items-center justify-content-center text-white text-center mb-4"
	style="
		background-size: cover;
		background-position: center;
		height: 350px;
		position: relative;
	"
>
	<!-- Dark overlay -->
	<div
		style="
			background-color: rgba(1, 0, 7, 0.842);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		"
	></div>

	<!-- Banner content -->
	<div
		class="container"
		style="z-index: 1; max-width: 700px; padding: 1rem;"
	>
		<p class="text-white small">
			{{ company }} &middot; {{ employment_type }}
		</p>
		<h1 class="font-weight-bold text-white mb-2" style="font-size: 2rem;margin-top:0">
			{{ job_title }}
		</h1>
		<p class="text-white mb-3 small">
			{{ location }} &middot; Posted {{ posted_on }}
		</p>
		<div class="d-flex justify-content-center mt-4 mb-4">
			<!-- Facebook -->
			<a href="https://www.facebook.com/sharer/sharer.php?u={{ frappe.utils.get_url() | urlencode }}"
			target="_blank" 
			class="d-flex align-items-center justify-content-center rounded-circle border mx-1"
			style="width: 40px; height: 40px; background-color: rgba(255, 255, 255, 0.2); color: white; border-color: rgba(255, 255, 255, 0.5); text-decoration: none;">
			<i class="fab fa-facebook-f" style="font-size: 20px;"></i>
		 </a>
		 
		
			<!-- LinkedIn -->
			<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ frappe.utils.get_url() }}"
				target="_blank"
				class="d-flex align-items-center justify-content-center rounded-circle border mx-1"
				style="width: 40px; height: 40px; background-color: rgba(255, 255, 255, 0.2); color: white; border-color: rgba(255, 255, 255, 0.5);text-decoration: none;">
				<i class="fab fa-linkedin-in" style="font-size: 20px;"></i>
			</a>
		
			<!-- WhatsApp -->
			<a href="https://wa.me/?text={{ frappe.utils.get_url() }}"
				target="_blank"
				class="d-flex align-items-center justify-content-center rounded-circle border mx-1"
				style="width: 40px; height: 40px; background-color: rgba(255, 255, 255, 0.2); color: white; border-color: rgba(255, 255, 255, 0.5);text-decoration: none;">
				<i class="fab fa-whatsapp" style="font-size: 20px;"></i>
			</a>
		
			<!-- Telegram -->
			<a href="https://t.me/share/url?url={{ frappe.utils.get_url() }}"
				target="_blank"
				class="d-flex align-items-center justify-content-center rounded-circle border mx-1"
				style="width: 40px; height: 40px; background-color: rgba(255, 255, 255, 0.2); color: white; border-color: rgba(255, 255, 255, 0.5);text-decoration: none;">
				<i class="fab fa-telegram-plane" style="font-size: 20px;"></i>
			</a>
		
			<!-- Copy Link -->
			<button onclick="navigator.clipboard.writeText(window.location.href)"
				class="d-flex align-items-center justify-content-center rounded-circle border mx-1"
				style="width: 40px; height: 40px; background-color: rgba(255, 255, 255, 0.2); color: white; border-color: rgba(255, 255, 255, 0.5);text-decoration: none;">
				<i class="fas fa-link" style="font-size: 15px;"></i>
			</button>
		</div>
		
		{%- if status == "Open" -%}
		<a
			class="btn btn-primary btn-md btn-lg-sm mt-2"
			href="/{{ job_application_route if job_application_route else 'job_application' }}/new?job_title={{ name }}&title={{ job_title }}"
		>
			{{ _("I'm Interested") }}
		</a>
		{%- else -%}
		<div
			class="py-2 px-3 font-weight-bold text-nowrap mt-2"
			style="
				background: var(--bg-gray);
				font-size: 1rem;
				border-radius: var(--border-radius);
				display: inline-block;"
		>
			{{ _("Opening closed.") }}
		</div>
		{% endif %}
	</div>
</div>

	

	<!-- Job Opening Details -->
	<div class="mb-md-4 p-md-4">
		<div class="row">
			{%- if department -%}
				<div class="col-12 col-md-4 mb-6 mb-md-8">
					<div class="flex flex-row align-items-center">
						<div class="rounded-circle p-4" style="background: var(--blue-50)">
							<svg
								class="icon"
								style="height: 28px;
									width: 28px;
									--icon-stroke: var(--blue-700)"
							>
								<use href="#icon-branch"></use>
							</svg>
						</div>
						<div class="ml-5">
							<div class="text-secondary text-uppercase" style="font-size: 11px">{{ _("Department") }}</div>
							<div class="font-weight-bold">{{ department }}</div>
						</div>
					</div>
				</div>
			{% endif %}

			{%- if publish_salary_range -%}
				<div class="col-12 col-md-4 mb-6 mb-md-8">
					<div class="flex flex-row align-items-center">
						<div class="rounded-circle p-4" style="background: var(--green-50)">
							<svg
								class="icon"
								style="height: 28px;
									width: 28px;
									--icon-stroke: var(--green-700)"
							>
								<use href="#icon-income"></use>
							</svg>
						</div>
						<div class="ml-5">
							<div class="text-secondary text-uppercase" style="font-size: 11px">{{ _("Salary Range") }}</div>
							<div class="font-weight-bold">
								{%- if lower_range -%}
									{{ frappe.format_value(frappe.utils.flt(lower_range) , currency=currency) }}
								{% endif %}
								{%- if lower_range and upper_range -%}
									{{ " - " }}
								{% endif %}
								{%- if upper_range -%}
									{{ frappe.format_value(frappe.utils.flt(upper_range) , currency=currency) }}
								{% endif %}
								/
								{{ salary_per.lower() }}
							</div>
						</div>
					</div>
				</div>
			{% endif %}
			{%- if publish_applications_received -%}
			<div class="col-12 col-md-4 mb-6 mb-md-8">
				<div class="flex flex-row align-items-center">
					<div class="rounded-circle p-4" style="background: var(--orange-50)">
						<svg
							class="icon"
							style="height: 28px;
								width: 28px;
								--icon-stroke: var(--orange-700)"
						>
							<use href="#icon-users"></use>
						</svg>
					</div>
					<div class="ml-5">
						<div class="text-secondary text-uppercase" style="font-size: 11px">{{ _("Applications Received") }}</div>
						<div class="font-weight-bold">{{ no_of_applications }}</div>
					</div>
				</div>
			</div>
		{%- endif -%}

			{%- if (status == 'Open' and closes_on) or (status == 'Closed' and closed_on) -%}
				<div class="col-12 col-md-4 mb-6 mb-md-8">
					<div class="flex flex-row align-items-center">
						<div class="rounded-circle p-4" style="background: var(--red-50)">
							<svg
								class="icon"
								style="height: 28px;
									width: 28px;
									--icon-stroke: var(--red-700)"
							>
								<use href="#icon-calendar"></use>
							</svg>
						</div>
						<div class="ml-5">
							<div
								class="text-secondary text-uppercase"
								style="font-size: 11px"
							>
								{{ _("Closes On") if status == "Open" else _("Closed On") }}
							</div>
							<div class="font-weight-bold">
								{{ frappe.utils.format_date(closes_on if status == "Open" else closed_on, "d MMM, YYYY") }}
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		</div>
	</div>

	{%- if description -%}<p>{{ description }}</p>{% endif %}

	<!-- Mobile Apply Now Button -->
	<div id="sticky-div" class="position-sticky d-md-none" style="bottom: 0; ">
		<div class="w-100 bg-white py-8">
			{%- if status == "Open" -%}
				<a
					class="btn btn-primary btn-lg w-100"
					href="/{{ job_application_route if job_application_route else 'job_application' }}/new?job_title={{ name }}"
				>
					{{ _("Apply Now") }}
				</a>
			{%- else -%}
				<div
					class="py-4 px-10 text-center font-weight-bold text-nowrap"
					style="background: var(--bg-gray);
						font-size: 1.1rem;
						border-radius: var(--border-radius)"
				>
					{{ _("Opening closed.") }}
				</div>
			{% endif %}
		</div>
	</div>
</div>

{% block script %}
<script>
	function shareFacebook() {
		const url = encodeURIComponent(window.location.href);
		window.open(`https://www.facebook.com/sharer/sharer.php?u=${url}`, '_blank', 'width=600,height=400');
	}
</script>
{% endblock %}

{% endblock page_content %}
