<div class="feedback-section col-xs-12">
    {% if (feedback_history.length) { %}
    {% for (let i=0, l=feedback_history.length; i<l; i++) { %} <div class="feedback-round mb-3">
        <h4 class="font-weight-bold">Interview Round: {{ feedback_history[i].interview_round }}</h4>

        <!-- Display Feedback for Each Round -->
        {% for (let j=0, len=feedback_history[i].feedback.length; j<len; j++) { %} <div
            class="feedback-content p-3 d-flex flex-column flex-sm-row mt-3" data-name="{{ feedback_history[i].feedback[j].name }}">
            <!-- Reviewer Info -->
            <div class="reviewer-info mb-2 col-12 col-sm-3">
                <div class="row">
                    <div class="col-xs-2">
                        {{ frappe.avatar(feedback_history[i].feedback[j].user, "avatar-medium") }}
                    </div>
                    <div class="col-xs-10">
                        <div class="ml-2">
                            <div class="title font-weight-bold">
                                {{ strip_html(feedback_history[i].feedback[j].reviewer_name ||
                                feedback_history[i].feedback[j].user) }}
                            </div>
                            {% if (feedback_history[i].feedback[j].reviewer_designation) { %}
                            <div class="small text-muted">
                                {{ strip_html(feedback_history[i].feedback[j].reviewer_designation) }}
                            </div>
                            {% } %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Feedback -->
            <div class="reviewer-feedback col-12 col-sm-6">
                <div class="rating">
                    {%= frappe.render_template("rating", {
                    number_of_stars: 5,
                    average_rating: feedback_history[i].feedback[j].total_score,
                    for_summary: false
                    }) %}
                </div>
                <div class="feedback my-3">
                    <div> {{ feedback_history[i].feedback[j].result }}</div>
                    <div> {{ feedback_history[i].feedback[j].feedback }}</div>
                </div>
            </div>

            <!-- Feedback Date & Link -->
            <div class="feedback-info col-12 col-sm-3 d-flex flex-column flex-sm-row justify-content-end align-items-baseline">
                <div class="time text-muted mr-2" style="font-size: 11px">
                    {{ frappe.datetime.comment_when(feedback_history[i].feedback[j].added_on) }}
                </div>
                <a href="{{ frappe.utils.get_form_link('Interview Feedback', feedback_history[i].feedback[j].name) }}"
                    title="{{ __(" Open Feedback") }}" style="font-size: 11px; text-decoration: underline;">
                    {{ __("View Feedback") }}
                </a>

            </div>
</div>
{% } %}
</div>
{% } %}
{% } else { %}
<div class="no-feedback d-flex flex-col justify-content-center align-items-center text-muted">
    <span>{{ __("No feedback has been received yet") }}</span>
</div>
{% } %}
</div>
